* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #b5b5b5;
}

body .button {
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  float: left;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  margin: 5px;
}

body .button:hover {
  width: 200px;
}

body .button:hover i {
  color: #fff;
}

body .button:nth-child(1):hover .icon {
  background-color: #4267B2;
}

body .button:nth-child(2):hover .icon {
  background-color: #d60842;
}

body .button:nth-child(3):hover .icon {
  background-color: #FF0000;
}

body .button:nth-child(4):hover .icon {
  background-color: #1DA1F2;
}

body .button:nth-child(5):hover .icon {
  background-color: #333;
}

body .button:nth-child(1) span {
  color: #4267B2;
}

body .button:nth-child(2) span {
  color: #d60842;
}

body .button:nth-child(3) span {
  color: #FF0000;
}

body .button:nth-child(4) span {
  color: #1DA1F2;
}

body .button:nth-child(5) span {
  color: #333;
}

body .button span {
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
}

body .button .icon {
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

body .button .icon i {
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-in-out;
}
